<breadcrumb></breadcrumb>

<div class="row">

  <!-- Statistics -->
  <div class="col-sm-6 col-md-3" *ngFor="let stat of stats">
    <mat-card [ngClass]="['text-white', stat.color]">
      <mat-card-header>
        <mat-card-subtitle class="text-white">{{stat.title}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h2 class="m-y-8">{{stat.amount}}</h2>
        <mtx-progress [value]="stat.progress.value"
                      height="2px"
                      foreground="rgba(255,255,255,1)"
                      background='rgba(0,0,0,.5)'>
        </mtx-progress>
        <small class="text-muted">Monthly</small>
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Charts -->
  <div class="col-md-7">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Traffic</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart1"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-md-5">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Weekly Revenue</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div id="chart2"></div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-md-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Appointment List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let message of messages">
            <img matListItemAvatar [src]="message.img" alt="Avatar">
            <h3 matListItemTitle>{{message.subject}}</h3>
            <p matListItemLine>
              <span>{{message.content}} </span>
            </p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>
</div>
